@{
    ViewBag.Title = ViewData["page_title"];
}

<div id="content">
<h2>@ViewData["page_title"]</h2>

@ViewData["page_text"]

</div>


<div id="sidebar">
    <ul>
        @foreach (var item in Model)
        {
            <li@if(item.pageURL.EndsWith((string) ViewData["pageURL"])){  <text>class="active"</text> } ><a href="@item.pageURL">@item.pageName</a></li>
        }
    </ul>
</div>