/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}
/* Reset End */

body
{
    font-size: .85em;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

div#wrapper{width:960px; margin:0 auto;}
a{color:#000; font-weight:bold;}

/* HEADER */
header{height:150px; position:relative; border-bottom:2px solid #e1e1e1;}
header h1{padding-top:20px; font-size:36px;}
.navigation {position:absolute; bottom:10px; right:100px;}
.navigation li{float:left; display:block; padding:10px; position:relative;}
.navigation li ul {
	display:none; position:absolute; left: 0; top: 30px; width:175px; z-index:15; padding-top:3px; background-color: #EEE;
	-moz-border-radius:0 6px 6px; -webkit-border-radius:0 6px 6px; border-radius:0 6px 6px;
	-webkit-box-shadow: #D6D6D6 2px 2px 3px; box-shadow: #D6D6D6 2px 2px 3px; -moz-box-shadow: #D6D6D6 2px 3px 3px;
}
.navigation li ul li {width: 100%; z-index:5; position:relative;}
.navigation li:hover,.navigation li.navHover{
	position:relative; background-color: #EEE; color: #4a4a4a; 
	-moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0;
    -webkit-box-shadow: inset 0 1px 1px 0 #c7c7c7; -moz-box-shadow: inset 0 1px 1px 0 #c7c7c7; box-shadow: inset 0 1px 1px 0 #c7c7c7;
}
.navigation .noChild:hover, .navigation li ul li.navHover .noChild, .navigation li li:hover {
    background:none;
    -moz-border-radius:none; -webkit-border-radius:none; border-radius:none;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.navigation li:hover ul{display:block;}
.navigation a{padding: 16px 26px; text-decoration: none; font-size:16px;}
/* \HEADER */


/* Content */
#content{width:600px; padding:20px; float:left;}
#content h2{padding:0 0 5px 0; margin-bottom:5px; font-size:22px;}
/* \Content */

/* Sidebar */
#sidebar{width:300px; padding:20px 10px; float:right; margin-top:15px; background: #EEE;
        -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
        -webkit-box-shadow: inset 0 1px 1px 0 #c7c7c7; -moz-box-shadow: inset 0 1px 1px 0 #c7c7c7; box-shadow: inset 0 1px 1px 0 #c7c7c7;
        display: block;}
#sidebar ul li a{padding:3px 10px; margin:0 0 10px 0; display:block; border-left:2px solid #EEE; text-decoration:none;}
#sidebar ul li.active a{border-left-color:#5C5C5C;}
/* \Sidebar */


/* Admin */
#admin table{width:100%;}
#admin table sub{font-size:11px; font-weight:normal;}
#admin table thead{font-size:14px; font-weight:bold;}
#admin table thead td{padding:6px;}
#admin table tbody td{padding:8px 6px; font-size:13px;}
#admin table tbody tr.odd td{background-color:#E4EBDF;}
#admin table tbody tr:hover td{background-color:#D6DBD3;}

#admin table tbody tr.False{display:none;}
#admin table tbody tr.child td.first{padding-left:15px;}
sub.showhidden{cursor:pointer;}

/* \Admin */

/* Forms */
form{width:595px;}
em.star{color:#ffb53e;}
form .large{width:430px;}
form .medium{width:190px;}
form .small{width:125px;}
form .xsmall{width:25px;}
form input.text,form select,form textarea{-moz-border-radius:2px; border-radius:2px; 
                                          border:1px solid #DEDEDE; background: #EFEFEF; padding:9px; font-size:14px;}

form p{margin:5px 0; display:block;}
form p.floatleft{float:left;}
form p label{float:left; display:block; width:130px; padding:10px 10px 0 0; text-align:right; font-size:16px;}
form p label sub{font-size:12px; padding:3px 6px;}
form input.checkbox{margin:0 5px;}
form .CB{float:left; width:80px; display:block; margin:11px 0;}
input.text:hover, input.text:focus, textarea:hover, textarea:focus, select:hover, select:focus {border-color:#7FBF4D; background-color:#EDEDED;}
form .checkbox label{padding-top:0;}

.btn.cupid-green {
background-color: #7FBF4D;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
background-image: linear-gradient(top, #7FBF4D, #63A62F);
border: 1px solid #63A62F; border-bottom: 1px solid #5B992B;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 0 #96ca6d; -moz-box-shadow: inset 0 1px 0 0 #96ca6d; box-shadow: inset 0 1px 0 0 #96ca6d;
color: white; font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
line-height: 1; padding: 7px 0 8px 0; text-align: center; text-shadow: 0 -1px 0 #4C9021;width: 150px;
}
/* \Forms */

/* Validation */
.errorBox {
	background-color: #990000;
	color: #FFF;
	padding: 10px 20px;
	width:80%;
	margin:20px auto;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
/* \Validation */

/* Login Form */
#login form{padding:15px; margin:auto; width:350px;}
#login .btn{float:right;}
/* \Login Form */